<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Recipe</title>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          rel="stylesheet"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row mt-2">
        <div class="col-md-6 mx-auto">
            <div class="card mb-2">
                <div class="card-header">
                    <h5 class="card-title" th:text="${recipe.description}">Recipe Description Here!</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>Categories:</h6>
                        </div>
                        <div class="col-md-9">
                            <ul>
                                <li th:remove="all">cat one</li>
                                <li th:remove="all">cat two</li>
                                <li th:each="category : ${recipe.categories}"
                                    th:text="${category.description}">cat three
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h6>Prep Time:</h6>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.prepTime + ' min'}">30 min</p>
                        </div>
                        <div class="col-md-3">
                            <h6>Difficulty:</h6>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.difficulty}">Easy</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h6>Cook time:</h6>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.cookTime + ' min'}">30 min</p>
                        </div>
                        <div class="col-md-3">
                            <h6>Servings:</h6>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.servings}">4</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h6>Source:</h6>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.source}">30 min</p>
                        </div>
                        <div class="col-md-3">
                            <h6>URL:</h6>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.url}">http://www.example.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header">
                    <h5 class="card-title">Ingredients</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li th:remove="all">1 cup of milk</li>
                                <li th:remove="all">1 teaspoon of chocolate</li>
                                <li th:each="ingredient : ${recipe.ingredients}"
                                    th:text="${ingredient.amount + ' ' + ingredient.uom.description + ' ' +
                                    ingredient.description}">1 teaspoon of sugar
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header">
                    <h5 class="card-title">Directions</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${recipe.directions}">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                elit.
                                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
                                magnis
                                dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                                pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede
                                justo,
                                fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                                imperdiet
                                a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                                tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
                                tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam
                                lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut
                                metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel
                                augue.
                                Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
                                tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem
                                neque
                                sed ipsum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header">
                    <h5 class="card-title">Note</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${recipe.note.recipeNote}">Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit.
                                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
                                magnis
                                dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                                pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede
                                justo,
                                fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                                imperdiet
                                a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                                tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
                                tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam
                                lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut
                                metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel
                                augue.
                                Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
                                tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem
                                neque
                                sed ipsum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>